:host {
  .eye-color {
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
  }

  .lang-chooser {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 20px 0;
    justify-content: flex-end;
    align-items: center;

    li {
      margin: 0 8px;
      padding: 8px;
      cursor: pointer;
    }
  }

  .pagg-buttons {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 20px 0;
    justify-content: flex-end;
    align-items: center;

    li {
      margin: 0 8px;

      a {
        padding: 10px;
        background: #f1f1f1;
        border-radius: 20%;
        border: 1px solid #d2d2d2;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
