<div class="container">

  <ul class="lang-chooser">
    <li (click)="selectLang(langItem)" title="{{ langItem.lang }}" [class.isChecked]="langItem.lang === storedLang"
        *ngFor="let langItem of getLangArray()">
      {{ langItem.langTitle }}
    </li>
  </ul>

  <h2 class="text-primary mt-4 mb-4">
    {{ 'titles.home_title' | translate }}
    <a href="https://swapi.dev/" target="_blank">https://swapi.dev/</a>
  </h2>

  <!-- Loader -->
  <app-loader *ngIf="!peoplesList" [ngClass]="{ 'loader-table': !peoplesList }"></app-loader>

  <!-- Table -->
  <table class="table table-striped" *ngIf="peoplesList">
    <thead>
    <tr>
      <th scope="col">{{ 'titles.name' | translate }}</th>
      <th scope="col">{{ 'titles.birth_year' | translate }}</th>
      <th scope="col">{{ 'titles.gender' | translate }}</th>
      <th scope="col">{{ 'titles.eye_color' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let people of peoplesList" routerLinkActive="active"
        [routerLink]="['/details/' + people.url]">
      <td>
        {{ people.name }}
      </td>
      <td>{{ people.birth_year }}</td>
      <td>
        <fa-icon [icon]="getGenderIcon(people.gender)"></fa-icon>
      </td>
      <td>
        <span title="{{ people.eye_color }}" class="eye-color" [ngStyle]="{'background-color': people.eye_color}"></span>
      </td>
    </tr>
    </tbody>
  </table>

  <ul class="pagg-buttons">
    <li>
      <a href="javascript:void(0)" title="{{ 'strings.prev' | translate }}">
        <fa-icon [icon]="faArrowLeft" (click)="getPeoplesList(prevPage)"></fa-icon>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" title="{{ 'strings.next' | translate }}">
        <fa-icon [icon]="faArrowRight" (click)="getPeoplesList(nextPage)"></fa-icon>
      </a>
    </li>
  </ul>
</div>
