<div class="container">

  <h2 class="text-primary mt-4 mb-4">{{ 'titles.details_title' | translate }}</h2>

  <!-- Loader -->
  <app-loader *ngIf="!currentPeople" [ngClass]="{ 'loader-table': !currentPeople }"></app-loader>

  <!-- Details -->
  <div class="card" *ngIf="currentPeople">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ currentPeople.name }}</h5>
      <p class="card-text"><strong>{{ 'titles.birth_year' | translate }}:</strong> {{ currentPeople.birth_year }}</p>
      <p class="card-text"><strong>{{ 'titles.gender' | translate }}:</strong> {{ currentPeople.gender }}</p>
      <p class="card-text"><strong>{{ 'titles.eye_colo' | translate }}:</strong> {{ currentPeople.eye_color }}</p>
    </div>
  </div>
</div>
